body {
    background-color: grey;
}

h1 {
    color: red;
    text-decoration: underline, solid;
}

p {
    color: rgb(37, 15, 228);
    padding: 5px;
    margin-left: 10px;
}

.content {
    margin-left: 0px;
}

.gif {
    padding: 5px;
    margin-left: 5px;
    text-align: center;
}

#lineup {
    padding: 5px;
    color: crimson;
    margin-left: 5%; 
    color: crimson;

}
